$sec-color: #fff;
$green: #00ff57;
$black : #000;

body {
    margin: 0;
    overflow: hidden;
}

#video-js-player {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

.series-player-video {
  .rewind,
  .fast-forward {
    display: block;
    visibility: hidden;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    color: $sec-color;
    transition: visibility 1.5s, opacity 1.5s;
  }

  .fast-forward {
    right: 3rem;
  }

  .rewind {
    left: 3rem;
  }

  .vjs-has-started {
    &.vjs-user-active,
    &.vjs-paused {
      .rewind,
      .fast-forward {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.1s, opacity 0.1s;
      }
    }
  }
}

.video-js {
  .vjs-menu-button-inline {
    &.vjs-slider-active,
    &:focus,
    &:hover {
      width: 10em;
    }
  }

  &.vjs-no-flex .vjs-menu-button-inline {
    width: 10em;
  }

  .vjs-controls-disabled .vjs-big-play-button {
    display: none !important;
  }

  .vjs-menu-button-inline:before {
    width: 1.5em;
  }

  &:hover {
    .vjs-big-play-button {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em;
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
  display: block;
}

.video-js {
  &.vjs-ended .vjs-big-play-button,
  &.vjs-paused .vjs-big-play-button {
    display: block;
  }

  .vjs-load-progress div {
    display: none !important;
  }
}

.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.video-js {
  .vjs-mouse-display:after,
  .vjs-play-progress:after {
    padding: 0 0.4em 0.3em;
  }

  &.vjs-ended {
    .vjs-loading-spinner {
      display: none;
    }

    .vjs-big-play-button {
      display: block !important;
    }
  }
}

video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
  display: block;
}

.video-js {
  .vjs-loading-spinner {
    border-color: $green;
    border: 4px solid transparent;
    opacity: 1;

    &:before {
      display: none;
    }

    &:after {
      border-top-color: transparent;
      border-color: $green;
      animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite;
      border-top: 4px solid transparent;
    }
  }

  .vjs-control-bar2 {
    background-color: transparent;
  }

  .vjs-control-bar {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40%,
      $black 100%
    ) !important;
    color: $sec-color;
    font-size: 17px;

    .vjs-playback-rate {
      .vjs-playback-rate-value {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:focus {
        background-color: transparent;
        color: $sec-color;
      }

      @media (max-width: 991px) and (orientation: landscape) {
        display: block;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    .vjs-menu {
      width: 6em;
      left: -2em;

      .vjs-menu-content {
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.7);

        li {
          &:hover {
            background-color: rgba(185, 185, 185, 0.5);
          }
        }
      }
    }
  }

  .vjs-play-progress,
  .vjs-volume-level {
    background-color: $green;
  }

  .vjs-big-play-button {
    height: 100px !important;
    width: 100px !important;
    line-height: 100px !important;
    margin-top: 0 !important;
    margin-left: 0;
    transform: translate(-50%, -50%);
    border-width: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0;
    border-radius: 100%;
  }

  .vjs-big-play-button .vjs-icon-placeholder:before {
    font-size: 6rem;
  }

  .vjs-progress-holder {
    font-size: 1.7em;
    border-radius: 10px;

    .vjs-play-progress {
      border-radius: 10px;
    }

    .vjs-load-progress {
      border-radius: 10px;

      div {
        border-radius: 10px;
      }
    }
  }

  .vjs-slider {
    border-radius: 10px;
    background-color: $black;
  }
}

.vjs-volume-level {
  border-radius: 10px;
}

.video-js {
  .vjs-load-progress {
    background: rgba(255, 255, 255, 0.5);
  }
}
